@charset "UTF-8";

body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    transform: translateY(200px);
    width: 400px;
}

main input[type = button]{
    background-color: #21FF21;
    border-radius: 6px;
    color: black;
    cursor: pointer;
    padding: 6px;
}